<mat-list role="list">
    <mat-list-item *ngFor="let item of menuitems" [routerLink]="[item.ruta]"  ><mat-icon mat-list-icon>{{item.icono}}</mat-icon><span>{{item.titulo}}</span></mat-list-item>
   
  </mat-list>