<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
       <mat-toolbar>
           <span>Menú</span>
           <span class="spacer"></span>
           <button mat-icon-button
                (click)="sidenav.toggle()">
            <mat-icon>close</mat-icon>
        </button>
       </mat-toolbar>
       <mat-nav-list>
           <app-sidenav  (click)="sidenav.toggle()"></app-sidenav>
       </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button
                (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-button>Logout</button>
    </mat-toolbar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
  
</mat-sidenav-container>
   


